.pageHeader{
	background-color: #1976d2;
	height: $header-height;
}

.header{
  height: $header-height;
}

.row{
	margin:0px;
}

.flex{
	flex:1;
}

.clickable{
	cursor:pointer;
}

.center-ver{
	margin-left: auto;
	margin-right: auto;
}

.side-menu{
	height:100vh;
}

.form-background{
	background-color: rgb(249, 249, 249);
}
