// od grafika

//-----classNames, ktore tu nie su definovane ale su z react-strapu
/*
- d-flex
- flex-row
- ml-auto - margin-left: auto
- mr-auto - margin-right: auto
- fa a vsetko zacinajuce fa- (napr fa-cog, fa-exclamation-triangle...)
- input-group
- list-unstyled
- pull-right
- p-2
- col-form-label
- col-md-12
- col-md-3
- col-lg-12
- col-lg-6
- justify-content-xxxx
- table-hover
- input-group-append
*/


body{
  font-family: $main-font;
  background: $main-background-color;
  font-size: $main-font-size;
  color: $main-font-color;
}

.container-fluid{
  background-color: $main-background-color;
  padding: 0px 20px 3px 3px;
  border-bottom: 1px solid $muted-gray;
  height: 41px;
}

.content-page > .content {
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 0px;
    min-height: 300px;
}

.main{
  background-color: white;
}

//-------------------overflow----------------------
html{
	overflow-y: hidden;
}
.scrollable{
  overflow-y: auto;
	overflow-x: hidden;
}
.fit-with-header{
	height: $height-without-header;
}
.fit-with-header-and-commandbar{
	height: calc(  #{$height-without-header} - 41px );
}
//-------------------END-overflow----------------------

//---------------všeobecné-atribúty---------------------
.text-muted {
  color: $muted-font-color;
}
.text-basic{
  color: $main-font-color;
}
.text-highlight{
  color: $basic-button-color !important;
}
.font-13 {
    font-size: 13px;
}
.center-ver{
	margin-left: auto;
	margin-right: auto;
}
.center-hor{
	margin-top: auto;
	margin-bottom: auto;
}
.full-width{
  width: 100%;
}
.w-a{
  width: auto;
}
.w-5{
  width: 5%;
}
.w-20{
  width: 20%;
}
.w-40{
  width: 40%;
}
.w-55{
  width: 55%;
}
.w-50{
  width: 50%;
}
.w-20px{
  width: 20px;
}
.w-40px{
  width: 40px;
}
.max-width-400{
  max-width: 400px;
}
.full-height{
  height: 100% !important;
}

.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    will-change: opacity, transform;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.bkg-color-inherit{
  background-color: inherit;
}

.bkg-white{
  background-color: white;
}

.clickable{
	cursor:pointer;
}

.row{
  display: flex;
  margin: 0px;
}

.no-scrolling{
	textarea{
		overflow: hidden;
	}
	overflow: hidden;
}

.bottom-border{
  border-bottom: 1px solid;
  color: $muted-gray;
}
.icon-S{
    font-size: 1em;
}
.icon-M{
    font-size: 1.2em;
}
.text-extra-slim{
  font-weight: 100;
}
.text-slim{
  font-weight: 400;
}
.h-30{
  height: 30px;
}
.f-1{
  flex: 1;
}
.flex{
	flex:1;
}
.p-5{
  padding: 5px !important;
}
.p-10{
  padding: 10px;
}
.p-t-5{
  padding-top: 5px;
}
.p-t-15{
  padding-top: 15px;
}
.p-20{
  padding: 20px;
}
.p-r-10{
	padding-right: 10px;
}
.p-r-20{
	padding-right: 20px;
}
.p-l-18{
    padding-left: 18px;
}

.b-0{
  border: 0px;
}
.b-1{
  border: 1px solid;
}
.b-r-0{
  border-radius: 0px;
}
.b-cl-form{
  border-color: $muted-gray;
}
.m-0{
  margin: 0px;
}
.m-t-5{
	margin-top: 5px;
}
.m-t-10{
	margin-top: 10px;
}
.m-t-15{
	margin-top: 15px;
}
.m-t-20 {
    margin-top: 20px;
}
.m-t-30 {
    margin-top: 30px;
}
.m-t-sidebar-item {
    margin-top: $sidebar-item-height;
}

.m-b-2{
  margin-bottom: 2px;
}
.m-b-3{
  margin-bottom: 3px;
}
.m-b-5{
  margin-bottom: 5px;
}
.m-b-10{
  margin-bottom: 10px;
}
.m-b-15{
  margin-bottom: 15px;
}
.m-b-30{
  margin-bottom: 30px;
}
.m-l-5{
  margin-left: 5px;
}
.m-l-10{
  margin-left: 10px;
}
.m-r-0{
  margin-right: 0px;
}
.m-r-5{
  margin-right: 5px;
}
.m-r-10{
  margin-right: 10px;
}
.t-a-c{
    text-align: center;
}
.t-a-r{
    text-align: right;
}
.t-a-l{
    text-align: left;
}
//---------------END-všeobecné-atribúty-----------------

//---------------všeobecné-elementy---------------------
.btn{
  background-color: $basic-button-color;
  border: 0px;
  height: $button-height;
  border-radius: 0px;
  color: #FFFFFF;
  font-weight: 400;
  font-size: $main-font-size;
}

.btn:hover{
  background-color: $header-color;
  color: #FFFFFF;
}

.btn-link{
  background-color: inherit;
  border: 0px;
  border-radius: 0px;
  color: $basic-button-color;
  height: $button-height;
  font-weight: 400;
  font-size: $main-font-size;
}

.btn-link:hover{
  background-color: $sidebar-item-color;
  color: $basic-button-color;
  text-decoration: none;
}

.btn-outline-blue:not(:disabled):not(.disabled).active, .btn-outline-blue:not(:disabled):not(.disabled):active, .show>.btn-outline-blue.dropdown-toggle {
    color: #fff;
    background-color: $basic-button-color;
}

.hidden-button{
  color: transparent;
  background-color: inherit;
}

.hidden-button:hover{
  color: $basic-button-color;
  background-color: inherit;
}

.hidden-icon{
  color: transparent;
  background-color: inherit;
}

.hidden-icon:hover{
  color: $basic-button-color;
}

.link{
  color: $basic-button-color;
}
.label{
  border-radius: 0px;
  background-color: $basic-button-color;
}

.tag{
  margin-right: 5px;
}

.form{
  background-color: $form-background-color;
//  max-width: 1284px;
  border-radius: 0px;
  padding: 0px;
}

.modal-content{
  background-color: $form-background-color;
  padding-left: 20px;
  padding-right: 20px;
}

hr{
  margin-top: 0px;
  margin-bottom: 0px;
}


th {
  border-bottom: 2px solid $table-lines !important;
  color: $contrasting-font-color;
}
td {
  color: $contrasting-font-color;
  border-bottom: 1px solid $table-lines !important;
}

.table>tbody>tr.active>td, .table>tbody>tr.active>th, .table>tbody>tr>td.active, .table>tbody>tr>th.active, .table>tfoot>tr.active>td, .table>tfoot>tr.active>th, .table>tfoot>tr>td.active, .table>tfoot>tr>th.active, .table>thead>tr.active>td, .table>thead>tr.active>th, .table>thead>tr>td.active, .table>thead>tr>th.active {
    background-color: #f4f8fb;
}

.table-checkbox{
  padding-top: 15px !important;
}

.form-control{
	font-family: inherit;
//	border: 1px solid #cccccc;
  font-size: $main-font-size;
  border-radius: 0px;
  box-shadow: none;
}

.form-control:focus{
  box-shadow: none;
  border-width: 1px;
  border-color: $basic-button-color;
}

.hidden-input{
	background-color: inherit;
	border-width: 0;
	box-shadow: none;
  width: 100%;
}

.hidden-input:focus{
  background-color: white;
  color: inherit;
  border-radius: 0px;
  border-width: 1px;
  border-color: $basic-button-color;
	box-shadow: none !important;
}

.thumb-sm {
    height: 32px;
    width: 32px;
}

.invisible-select{
  width: 100px;
  min-height: 30px;
  background-color: inherit;
  border-width: 0px;
  border-radius: 0px;
  box-shadow: none;
}
.invisible-select:focus{
  background-color: white;
  border: 1px solid $basic-button-color;
  box-shadow: none;
}


.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-lg, .col-lg-1,
.col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5,
.col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9 {
    padding-left: 0px;
    padding-right: 0px;
}

.warning{
  color: red;
  font-size: 10px;
}

.backupList textarea{
  resize: none;
}

//----------------END-všeobecné-elementy----------------


//---------------------header---------------------
.page-header{
	background-color: $header-color;
  height: $header-height;
  margin: 0px;
  padding: 0px;
  border: 0px;
  border-right: 2px solid $header-color;
  margin-right: -2px;

  .lansystems-title{
    display: flex!important;
    height: 100%;

    h1{
      color: #FFF;
      font-size: 27px;
      margin-top: 2px;
    }

  }
}
.header-link{
  color: white;
  margin-right: 10px;
}
.header-link:hover{
  text-decoration: none;
  border-bottom: 1px solid white;
  color: white;
}
.header-link-active{
  border-bottom: 1px solid white;
}

.header-dropdown{
  background-color: inherit;
  border-width: 0px;
  padding: 0px;
}

.header-icon{
  font-size:15px;
  background-color: inherit;
  border-width: 0;
  margin-right: 15px;
  color: white;
}

.toolbar-item{
  border: 1px solid $muted-gray;
  border-right: 0px;
}
.toolbar-item:last-child{
  border: 1px solid $muted-gray;
}

//------------------END-header----------------------

//---------------------sidebar---------------------
.sidebar{
  width: $sidebar-width;
  border-right: 1px solid #dee2e6;
  list-style-type: none;
  background: $main-background-color;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  position:relative;
  top: inherit;
  width: 240px;
}

.sidebar-icon-center{
  color: $basic-button-color;
  margin-right: 5px;
  margin-left: 5px
}

.sidebar-menu-item{
  width: 100%;
  height: $sidebar-item-height;
}

.sidebar-menu-item-link{
  width: 80%;
  height: $sidebar-item-height;
  display: inline-block !important;
}

.sidebar-menu-item-btn{
  width: 20%;
  height: $sidebar-item-height;
}


.sidebar-btn{
  width: calc(#{$sidebar-width} - 20px);
  margin: 10px;
  height: $button-height;
}

.sidebar-link{
  display: flex !important;
  margin: 0px;
}


.sidebar-filter{
  margin-left: 10px;
  border: none;
  margin-bottom: 2px;
}
.sidebar-filter-navlink{
  padding-left: 0px !important;
}

.sidebar-align{
  padding-left: 35px !important;
}

//--------------------END-sidebar----------------------

//---------------------commandbar----------------------
.commandbar-search{
  border-width: 0px;
  border-radius: 0px;
  padding-left: 5px;
  height: $button-height;
  width: 200px !important;
}

.commandbar-btn-search{
	background-color: white;
	border-width: 0px;
	border-radius: 0px;
  margin: 0;
  height: $button-height;
	color: $basic-button-color;
	font-size: 14px;
}


//------------------END-commandbar----------------------


//TABY
.nav-tabs a.active {
  border: none;
  background-color: inherit !important;
  border-bottom: 3px solid #0078D4 !important;
  color: #0078D4 !important;
}

.nav:not(.nav-tabs) a.active {
  background-color: $sidebar-item-color !important;
  font-weight: 900;
  color: #0078D4 !important;
}

.nav:not(.nav-tabs) a.active + .sidebar-menu-item-btn {
  .hidden-button{
    background-color: $sidebar-item-color !important;
  }
}

.nav:not(.nav-tabs) a.active:hover + .sidebar-menu-item-btn {
  .hidden-button{
    background-color: $sidebar-item-color !important;
    color: $basic-button-color;
  }
}

.nav:not(.nav-tabs) a:hover + .sidebar-menu-item-btn {
  .hidden-button{
    background-color: #eeeeee !important;
    color: $basic-button-color;
  }
}




//---------------------TaskList----------------------
.taskList-container{
  background-color: #FFF;
}

.taskList {
  min-height: 40px;
  margin-bottom: 0;
  border-top: 0px;
}

.taskList li {
  background-color: #fff;
  border: 0px;
  border-bottom: 1px solid #dee2e6;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 0px;
}

.taskList li:hover{
  background-color: #f4f8fb;
}

.taskList li:last-of-type {
  margin-bottom: 0px;
}

.taskList li .btn-sm {
  padding: 2px 8px;
  font-size: 12px;
}

.taskList .checkbox {
  margin-left: 20px;
  margin-top: 5px;
}

.taskList-tags{
  min-height: 21px;
}

.selected-item {
	background-color: #f4f8fb;
	li {
		background-color: #f4f8fb;
	}
}
.small-p{
  margin: 0px;
}

.first-task{
  border-top: 1px solid #dee2e6;
}

//-------------------END-tasklist-------------------------

//----------------------taskEdit--------------------------
.task-title-input{
  font-size: 2.5rem;
  line-height: 1.2;
  color: $main-font-color;
  box-shadow: none;
  margin-left: 10px;
}

.card-box{
  border: 1px solid rgba(54, 64, 74, 0.05);
  border-top: none;
  margin-bottom: 0px;
  background-color: #ffffff;
  background: $form-background-color;
  border-radius: 0px;
  padding-left: 20px;
  padding-right: 20px;
}

.form-tab{
  border-color: $main-font-color;
  border-width: 0px 1px 0px 0px;
  border-radius: 0px !important;
  margin: 5px 0px 5px 5px !important;
}
.form-tab-end{
  border-width: 0px 0px 0px 1px;
  border-color: $main-font-color;
  border-radius: 0px;
  margin: 5px 5px 5px 0px;
}
.table-highlight-background{
  	background-color: #d5e5f2,
}

.dropdown-menu{
  min-width: auto;
}

//-------------------END-taskEdit-------------------------


// /0078D4
//background: $main-background-color;
//background: #3C3C3C;
//color: #212121;
//color: #33332D;
