// od grafika


/* blue */
//background: #004578;



//font-family: Segoe MDL2 Assets;

//font-family: Segoe UI;

.pageHeader{
	background-color: #004578;
}

.lansystemsTitle{
  margin-top: 10px;
  margin-bottom: 5px;
}

h1{

}
