$header-height: 40px;
$height-without-header: calc( 100vh - calc(#{$header-height} + 15px)  );
$sidebar-width: 260px;
$sidebar-item-height: 40px;
$inputs-border: 6px solid red;
$main-font: Segoe UI;
$main-font-size: 14px;
$button-height: 30px;

//farby
$main-background-color: #F2F1F1;
$form-background-color: #faf9f8;
$main-font-color: #797979;
$muted-font-color: #98a6ad;
$contrasting-font-color: #494949;
$header-color: #004578;
$basic-button-color: #0078D4;
$muted-gray: #d9d8d8;
$sidebar-item-color: #DCECF9;
$table-lines: #f1f1f1;
